* {
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 94%;
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .container {
    width: 640px;
  }
}
